<header>
  <img
    id="logo"
    src="assets/img/Taw Podcast.png"
    width="100"
    height="100"
    alt="TAWAKKUL Logo"
  />
  <h1>Podcast Details</h1>
</header>

<nav class="nav">
  <a routerLink="/podcasts">Zurück zur Liste</a>
</nav>

<div id="maincontainer">
  <main *ngIf="episode">
    <h2>{{ episode.podcast }}</h2>

    <img
      *ngIf="episode.image"
      [src]="episode.image"
      [alt]="episode.podcast"
      width="250"
    />

    <p><strong>Titel:</strong> {{ episode.title }}</p>
    <p><strong>Datum:</strong> {{ episode.date }}</p>
    <p>{{ episode.description }}</p>
  </main>
</div>

<footer>
  <small>TAWAKKUL – Für Herz & Seele</small>
</footer>